header {
    background-color: dodgerblue;
    padding: 0.5em;
}

header h1{
    color:white;
    text-align: center;
    font-size: 60px;
}

header img {
    width:1.5em;
    height:1.5em;
}

h2{
    background-color: dodgerblue;
}
li {
    text-align: center;
}
.card-deck .card{
    padding: 1em;
    width: 12em;
    
}
.card-deck .card img {
    height: 4em;
    width: 4em;
}

.card {
    color: dodgerblue;
}

#currentWeather p {
    font-size: 20px;
    background-color: white;
    margin-left: 0.25em;
}
#currentWeather h2{
    background-color: dodgerblue;
    padding-left: 0.25em;
    border-radius: 10px;
    margin-top: .51em
}

#currentWeather img {
    height: 2.5em;
    width: 2.5em;
}

