body {
    background-color: rgb(67, 179, 179);
}
header {
    background-color: rgba(0, 0, 0, 0.767);
    padding: 0.5em;
}

header h1{
    color:white;
    text-align: center;
}

.card{
    padding: 1em;
}
#currentWeather {
    background-color: dodgerblue;
    padding: 1.25em;
    border-radius: 10px;
}
#currentWeather h1 {
    margin-bottom: 0.5em;
}

#currentWeather p {
    font-size: 20px;
    color: white;
}

